.section {
   padding-block: var(--section-padding-y);

  &__inner {
    display: grid;
    row-gap: 30px;
  }

  &--background-alt {
    background-image: var(--color-gradient-alt);
  }

  &__header {
    display: grid;
    text-align: center;
    row-gap: 16px;
  }
}
