.logo {
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
  width: fit-content;

  &__wrapper-icon {
    @include square(48px);
    @include flex-center;
    border-radius: 50%;

    background-image: var(--color-gradient-base);
  }

  &__icon {
    color: var(--color-white);
  }

  &__title {
    color: var(--color-black);

    &--white {
      color: var(--color-white);
    }
  }

  @include hover {
    .logo__title {
      background: var(--color-gradient-base);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}
